<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="start-log">
        <file>logs/master/start.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master/start.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="master-mongo-log">
        <file>logs/master/master-mongo-log.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master/master-mongo-log.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="endpoint-log">
        <file>logs/master/endpoint-log.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master/endpoint-log.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="master-cluster-acceptor">
        <file>logs/master/master-cluster-acceptor.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master/master-cluster-acceptor.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="rootFile">
        <file>logs/master/master.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master/master.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>512MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger additivity="true" name="com.acmedcare.framework.newim.startLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="start-log"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.endpointLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="endpoint-log"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.mongoLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="master-mongo-log"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.masterClusterAcceptorLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="master-cluster-acceptor"/>
    </logger>

    <logger name="org.springframework">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="io.undertow">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="com.acmedcare.tiffany.framework.remoting">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="TiffanyQuantumRemoting">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger level="DEBUG" name="io.atomix">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="rootFile"/>
    </root>
</configuration>

