<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="start-log">
        <file>logs/wss/start.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/start.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="master-mongo-log">
        <file>logs/wss/cluster-mongo.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/cluster-mongo.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="master-cluster-connector">
        <file>logs/wss/master-cluster-connector.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/master-cluster-connector.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="im-convert">
        <file>logs/wss/im-convert.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/im-convert.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="inner-replica-server">
        <file>logs/wss/inner-replica-server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/inner-replica-server.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="im-server">
        <file>logs/wss/im-server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/im-server.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="wss-server">
        <file>logs/wss/wss-server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/wss-server.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="cluster-replica-connector">
        <file>logs/wss/cluster-replica-connector.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/cluster-replica-connector.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender class="ch.qos.logback.core.rolling.RollingFileAppender"
       name="rootFile">
        <file>logs/wss/cluster.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/wss/cluster.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>512MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger additivity="true" name="com.acmedcare.framework.newim.startLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="start-log"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.masterClusterLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="master-cluster-connector"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.clusterReplicaLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="cluster-replica-connector"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.convertLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="im-convert"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.innerReplicaServerLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="inner-replica-server"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.imServerLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="im-server"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.mongoLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="master-mongo-log"/>
    </logger>

    <logger additivity="true" name="com.acmedcare.framework.newim.wssServerLog">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="wss-server"/>
    </logger>

    <logger name="org.springframework">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="io.undertow">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="com.acmedcare.tiffany.framework.remoting">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <logger name="TiffanyQuantumRemoting">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="rootFile"/>
    </root>
</configuration>

