<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="start-log"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/start.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/start.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="master-cluster-connector"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/master-cluster-connector.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/master-cluster-connector.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="im-convert"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/im-convert.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/im-convert.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="inner-replica-server"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/inner-replica-server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/inner-replica-server.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="im-server"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/im-server.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/im-server.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="cluster-replica-connector"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/cluster-replica-connector.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/cluster-replica-connector.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>2GB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>7GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="rootFile"
       class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/cluster.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/cluster.log.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <MaxHistory>15</MaxHistory>
            <totalSizeCap>512MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <Pattern>%date %level %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.acmedcare.framework.newim.startLog" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="start-log"/>
    </logger>

    <logger name="com.acmedcare.framework.newim.masterClusterLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="master-cluster-connector"/>
    </logger>

    <logger name="com.acmedcare.framework.newim.clusterReplicaLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="cluster-replica-connector"/>
    </logger>

    <logger name="com.acmedcare.framework.newim.convertLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="im-convert"/>
    </logger>

    <logger name="com.acmedcare.framework.newim.innerReplicaServerLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="inner-replica-server"/>
    </logger>

    <logger name="com.acmedcare.framework.newim.imServerLog" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="im-server"/>
    </logger>

    <logger name="org.springframework">
        <appender-ref ref="CONSOLE"/>
        <level value="INFO"/>
    </logger>

    <logger name="io.undertow">
        <appender-ref ref="CONSOLE"/>
        <level value="INFO"/>
    </logger>

    <logger name="com.acmedcare.tiffany.framework.remoting">
        <appender-ref ref="CONSOLE"/>
        <level value="INFO"/>
    </logger>

    <logger name="TiffanyQuantumRemoting">
        <appender-ref ref="CONSOLE"/>
        <level value="DEBUG"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="rootFile"/>
    </root>
</configuration>

